<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="40690" executionTimeout="6000"/>
  </system.web>

  <connectionStrings>
    <!-- Note: -->
    <!-- if you use SQL Server , it will be better -->
    <!-- I use SQL Server 2008 R2, 10,000 compared to 10,000 , 3s-->
    <!-- I use SqlExpress , 10,000 compared to 10,000 , 6s-->
    <!-- But I can't guarantee it-->
    <add name="SqlServerHelper" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DB_Demo.mdf;Integrated Security=True;User Instance=True"/>
  </connectionStrings>

</configuration>
